In [158]:
#imports here
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
import time

In [274]:
driver = webdriver.Chrome('/home/venkat/Downloads/chromedriver_linux64/chromedriver')
driver.get('https://www.scholaro.com/gpa-calculator/')

In [275]:
country = driver.find_element_by_css_selector('input[value="Type or select country name"]')

In [276]:
country.clear()
country.click()
country.send_keys("India")
country.send_keys(Keys.RETURN)

In [279]:
grading_scale = driver.find_element_by_css_selector('input[name="ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$GradingScalesRadComboBox"]')

In [280]:
grading_scale.clear()
grading_scale.click()
grading_scale.send_keys("UGC 10-point Grading Scale")
grading_scale.send_keys(Keys.RETURN)

### Reading my Grade Card

In [197]:
import pandas as pd

In [198]:
my_grades = pd.read_csv('/home/venkat/Downloads/Semester Grade Card/Grades.csv')

In [199]:
my_grades.head()

                                             course  credit grade  sem  hon
0                       Basics of Civil Engineering       2     A    1  NaN
1                                       Chemistry I       3     A    1  NaN
2                             Basics of Programming       3     A    1  NaN
3  Basics of Electrical and Electronics Engineering       2     S    1  NaN
4                         English for Communication       3     A    1  NaN

In [200]:
gpa_map_nit = pd.DataFrame({'grade':['S','A','B','C','D','E','F'],'score':[10,9,8,7,6,5,0]})

In [201]:
gpa_map_nit

  grade  score
0     S     10
1     A      9
2     B      8
3     C      7
4     D      6
5     E      5
6     F      0

In [202]:
my_grades.dtypes

course    object
credit     int64
grade     object
sem        int64
hon       object
dtype: object

In [203]:
my_grades = (my_grades
[my_grades["hon"] != 'HON']
 .merge(gpa_map_nit, left_on='grade', right_on='grade')
)

In [204]:
my_grades = (my_grades
.assign(tot = my_grades['credit'] * my_grades['score'],
        credit_tot = my_grades['credit'] * 10)
)

In [205]:
my_grades.columns

Index(['course', 'credit', 'grade', 'sem', 'hon', 'score', 'tot',
       'credit_tot'],
      dtype='object')

In [206]:
(my_grades
.groupby('sem').sum()
.assign(t = (my_grades['tot'] / my_grades['credit_tot']).astype('float') )
)

     credit  score  tot  credit_tot    t
sem
1        22     72  196         220  0.9
2        26     76  245         260  0.9
3        22     73  200         220  0.9
4        24     74  220         240  0.9
5        22     66  206         220  0.9
6        21     68  204         210  0.9
7        22     68  191         220  0.9
8        19     47  180         190  0.9

In [207]:
a = my_grades.groupby('sem').sum()

In [208]:
a

     credit  score  tot  credit_tot
sem
1        22     72  196         220
2        26     76  245         260
3        22     73  200         220
4        24     74  220         240
5        22     66  206         220
6        21     68  204         210
7        22     68  191         220
8        19     47  180         190

In [209]:
round(a['tot'] / a['credit_tot'],3) * 10

sem
1    8.91
2    9.42
3    9.09
4    9.17
5    9.36
6    9.71
7    8.68
8    9.47
dtype: float64

In [210]:
nrows = my_grades.shape[0]

In [211]:
gpa_map_scholaro = pd.DataFrame({'grade':['S','A','B','C','D','E','F']
                                 ,'scholaro_grade':["O","A+","A","B+","B","C","F"]})

In [212]:
my_grades = my_grades.merge(gpa_map_scholaro, left_on='grade', right_on='grade')

In [214]:
my_grades['course'] = my_grades['course'].str.upper()

In [192]:
nrows_to_add = str(nrows - 5)

In [281]:
rows = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CSS_SELECTOR, "input[name='ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$CountText']")))

In [282]:
rows.clear()
rows.send_keys(nrows_to_add)
button = WebDriverWait(driver, 2).until(EC.element_to_be_clickable((By.CSS_SELECTOR, "button[name='ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$AddButton']"))).click()

In [283]:
for i in range(nrows):
    
    print(my_grades['course'][i])
    
    course = driver.find_element_by_xpath(f"/html/body/form/div[6]/div[3]/div[5]/div[1]/div[5]/table/tbody/tr[{i+2}]/td[2]/input")
    credit = driver.find_element_by_xpath(f"/html/body/form/div[6]/div[3]/div[5]/div[1]/div[5]/table/tbody/tr[{i+2}]/td[3]/input")
    grade  = driver.find_element_by_xpath(f"/html/body/form/div[6]/div[3]/div[5]/div[1]/div[5]/table/tbody/tr[{i+2}]/td[4]/input")

    
    course.clear()
    credit.clear()
    grade.clear()
    
    course.send_keys(my_grades['course'][i])
    credit.send_keys(str(my_grades['credit'][i]))
    grade.send_keys(my_grades['scholaro_grade'][i])

BASICS OF CIVIL ENGINEERING
CHEMISTRY I
BASICS OF PROGRAMMING
ENGLISH FOR COMMUNICATION
PHYSICS I
BRANCH SPECIFIC COURSE
PROFESSIONAL COMMUNICATION
PHYSICS II
MATHEMATICS FOR PRODUCTION ENGINEERS
CASTING AND WELDING TECHNOLOGY
MACHINING TECHNOLOGY
METALLURGY AND MATERIALS ENGINEERING
MANUFACTURING PROCESSES LABORATORY I
METROLOGY (THEORY AND LABORATORY)
WELDABILITY AND FORMABILITY TESTING LABORATORY
PROFESSIONAL ETHICS
COMPUTER INTEGRATED MANUFACTURING (THEORY AND LABORATORY)
MECHATRONICS AND INDUSTRIAL AUTOMATION (THEORY AND LABORATORY)
WORK DESIGN AND FACILITIES PLANNING
MANUFACTURING SYSTEM SIMULATION (THEORY AND LABORATORY)
SUPPLY  CHAIN MANAGEMENT
INDUSTRIAL ECONOMICS AND FOREIGN TRADE
TOOLING FOR MANUFACTURING
PROJECT MANAGEMENT
BASICS OF ELECTRICAL AND ELECTRONICS ENGINEERING
CHEMISTRY II
ENERGY AND ENVIRONMENTAL ENGINEERING
MATHEMATICS II
ENGINEERING GRAPHICS
ENGINEERING PRACTICE
THERMAL ENGINEERING
MECHANICS OF SOLIDS & FLUIDS AND THERMAL ENGINEERING LABORATORY
FORMING TECHNOLOGY
ELECTRICAL AND CONTROL SYSTEMS (THEORY AND LABORATORY)
MANUFACTURING OF COMPOSITE MATERIALS
MANUFACTURING PROCESSES LABORATORY II
QUALITY, RELIABILITY AND SAFETY ENGINEERING
PRODUCT DEVELOPMENT STRATEGIES
INDUSTRIAL ROBOTICS
MACHINE DRAWING PRACTICE
DESIGN AND ANALYSIS OF EXPERIMENTS
COMPUTER AIDED DESIGN AND ENGINEERING (THEORY AND LABORATORY)
OPERATIONS MANAGEMENT
OPERATIONS RESEARCH
PRODUCTION DRAWING AND COST ESTIMATION
INTERNSHIP / INDUSTRIAL TRAINING / ACADEMIC  ATTACHMENT
ANALYSIS OF PRODUCTION SYSTEMS AND IE LABORATORY
SUSTAINABLE MANUFACTURING (THEORY AND LAB)
PROJECT WORK
INTEGRATED MATERIALS MANAGEMENT
MATHEMATICS I
ENGINEERING MECHANICS
MECHANICS OF SOLIDS AND FLUIDS
PROBABILITY AND STATISTICS
KINEMATICS AND DYNAMICS OF MACHINES
DESIGN OF MACHINE ELEMENTS
COMPREHENSIVE VIVA
APPLIED GAME THEORY
INDUSTRIAL LECTURES

In [272]:
save = driver.find_element_by_css_selector('button[value="Save this GPA report"]')

In [273]:
save.click()